<h1>Listing hotends</h1>
 <%= link_to 'New hotend', new_hotend_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @hotends.each do |hotend| %>
    <tr>
      <td><%= link_to hotend.name, hotend_path(hotend) %></td>
      <td><%= hotend.description %></td>
      <td><%= link_to 'Show', hotend_path(hotend) %></td>
      <td><%= link_to 'Edit', edit_hotend_path(hotend) %></td>
      <td><%= link_to 'Destroy', hotend_path(hotend), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>