<h1>Listing countries</h1>
 <%= link_to 'New country', new_country_path %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
 
  <% @countries.each do |country| %>
    <tr>
      <td><%= link_to country.name, country_path(country) %></td>
      
      <td><%= link_to 'Show', country_path(country) %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
      <td><%= link_to 'Destroy', country_path(country), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>