<h1>Listing manufacturers</h1>
 <%= link_to 'New manufacturer', new_manufacturer_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></td>
      <td><%= manufacturer.description %></td>
      <td><%= manufacturer.country.name if manufacturer.country %></td>
      <td><%= link_to 'Show', manufacturer_path(manufacturer) %></td>
      <td><%= link_to 'Edit', edit_manufacturer_path(manufacturer) %></td>
      <td><%= link_to 'Destroy', manufacturer_path(manufacturer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>